div.item {
  width: 100%;
  overflow: hidden;
  margin-top: 5px;
}

.item-label { 
  display: inline-block;
  float: left;
  font-size: 20px;
  font-weight: bold;  
  width: 300px;
  margin-left: 10px;
}

.item-value {
  display: inline-block;
  float: left;
  margin-left: 10px; 
}

input[type=text], select {
  margin-top: 4px;
  background-color: #EEE;
  border: none;
  width: 300px;
}

h2.container {
  margin-bottom: 0px;
}

div.container {
  margin-top: 0px;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.item-value > span {
  padding-left: 10px;
  padding-right: 30px;
} 

p {
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

span.item-value {
  font-weight: bold;
  margin-left: 0px;
  margin-right: 15px;
}

textarea {
  margin-left: 10px;
  width: 96.5%;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #EEE;
  border: 0;
}

.container > .large-input {
  height: 100px;
}

.container > .small-input {
  height: 65px;
}

.container > input[type=button] {
  margin-left: 10px;
}

#login {
  width: 100%;
}

.notification-container {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #111;
  width: 400px;
  color: white;
  padding: 15px;
}

.notification {

}
  
  .notification hr {
    margin: 5px 0px;
  }

  .notification a {
    color: teal;
    text-decoration: none;
  }

  .notification a:hover {
    color: red;
  }

  .notification > div {
    float: right;
  }

.notification-header {
  margin-bottom: 10px;
  font-size: 20px
}

  .notification-header a:hover {
    color: teal;
  }

  img {
    float: right;
    max-width: 20px;
  }

.spacer {
  margin: 20px 0;
}